{% load static %}
<header id="default_header" class="header_style_1">
    <!-- header top -->
    <div class="header_top">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="full">
              <div class="topbar-left">
                <ul class="list-inline">
                  <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">Birkdale Auckland 0626, NZ</span> </li>
                  <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">contact@topitsolutions.co.nz</a></span> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 right_section_header_top">
            <div class="float-left">
              <div class="social_icon">
                <ul class="list-inline">
                  <li><a class="fa fa-facebook" href="https://www.facebook.com/profile.php?id=100066925534697" title="Facebook" target="_blank"></a></li>
                  <li><a class="fa fa-github" href="https://github.com/christopherece" title="Git Hub" target="_blank"></a></li>
                  <li><a class="fa fa-linkedin" href="https://www.linkedin.com/in/christopherece/" title="LinkedIn" target="_blank"></a></li>
                </ul>
              </div>
            </div>
            <div class="float-right">
              <div class="make_appo"> <a class="btn white_btn" href="{% url 'contact' %}">Get a Qoute</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header top -->
    <!-- header bottom -->
    <div class="header_bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <!-- logo start -->
            <div class="logo"> <a href="{% url 'index' %}">
              <img src="{% static 'images/logos/it_logo2.png' %}" alt="logo" /></a> 
            </div>
            <!-- logo end -->
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!-- menu start -->
            <div class="menu_side">
              <div id="navbar_menu">
                <ul class="first-ul">
                  <li> 
                    {% if '/' == request.path %}
                    <a class="active" href="{% url 'index' %}">Home</a>
                    {% else %}
                    <a class="" href="{% url 'index' %}">Home</a>
                    {% endif %}
                  </li>
                  <li>
                    {% if 'about' in request.path %}
                    <a class="active" href="{% url 'about' %}">About Us</a>
                    {% else %}
                    <a class="" href="{% url 'about' %}">About Us</a>
                    {% endif %}
                  </li>
                  <li>
                    {% if 'services' in request.path %} 
                    <a class="active" href="{% url 'services' %}">Services</a>
                      {% else %}
                    <a href="{% url 'services' %}">Services</a>
                    {% endif %}
                  </li>


                  <li>
                    {% if 'portfolio' in request.path %} 
                    <a class="active" href="{% url 'portfolio' %}">Portfolio</a>
                      {% else %}
                    <a href="{% url 'portfolio' %}">Portfolio</a>
                    {% endif %}
                  </li>
                  
                  <li> 
                    {% if 'blog' in request.path %}
                    <a class="active" href="{% url 'blog_list' %}">Blog</a>
                   {% else %}
                   <a href="{% url 'blog_list' %}">Blog</a>
                   {% endif %}
                  </li>
                  <!-- <li> <a href="#">Pages</a>
                    <ul>
                      <li><a href="it_career.html">Career</a></li>
                      <li><a href="it_price.html">Pricing</a></li>
                      <li><a href="it_faq.html">Faq</a></li>
                      <li><a href="it_privacy_policy.html">Privacy Policy</a></li>
                      <li><a href="it_error.html">Error 404</a></li>
                    </ul>
                  </li> -->
                  
                  <li> 
                    {% if 'contact' in request.path %}
                    <a class="active" href="{% url 'contact' %}">Contact</a>
                      {% else %}
                    <a href="{% url 'contact' %}">Contact</a>
                      {% endif %}
                  </li>
                </ul>
              </div>
              <div class="search_icon">
                <ul>
                  <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- menu end -->
          </div>
        </div>
      </div>
    </div>
    <!-- header bottom end -->
  </header>