{% load static %}

<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Portfolio</h2>
                        <p class="large">Check out my work!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for portfolio in portfolios %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="project_list">
                    <div class="project_img"> 
                        <img class="img-responsive" src="{{ portfolio.image.url }}" alt="{{ portfolio.title }}">
                    </div>
                    <div class="project_detail_btm">
                        <div class="center">
                            <h4><a href="{{portfolio.link}}" target="_blank">{{ portfolio.title }}</a></h4>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
