{% load static %}

<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Portfolio</h2>
                        <p class="large">Check out my work!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 about_cont_blog">
              <div class="full text_align_left">
                <h3>Looking for a Professional Website? Let Me Build It for You!</h3>
                <p>
                    Do you need a high-quality, custom website for your business or personal brand? I offer professional web development service using Python Django, ensuring fast, secure, and scalable website tailored to your needs.
                </p>
                <ul>
                  <li><i class="fa fa-check-circle"></i>Custom Websites - Designed to match your vision and goals.</li>
                  <li><i class="fa fa-check-circle"></i>Local Setup or Hosting - Choose to run your site on your own server or let me host it for a minimal fee.</li>
                  <li><i class="fa fa-check-circle"></i>Responsive & Modern Design - Your site will look great on any device.</li>
                  <li><i class="fa fa-check-circle"></i>SEO & Performance Optimized - Rank higher on search engine.</li>
                  <li><i class="fa fa-check-circle"></i>Blogs, Portfolios & More - I build all types of websites.</li>
                  <li><i class="fa fa-check-circle"></i>Admin Dashboard & CMS - Easily manage your content with user-friendly interface.</li>
                  <li><i class="fa fa-check-circle"></i>Ongoing Support - I'll help you maintain and update your site.</li>
                  <li><i class="fa fa-check-circle"></i>Quick Turnaround - Get your website up and running fast</li>

                </ul>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 about_feature_img padding_right_0">
              <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/coding.jpg' %}" alt="#" /> </div>
            </div>
          </div>
<p></p>
        <div class="row">
            {% for portfolio in portfolios %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="project_list">
                    <div class="project_img"> 
                        <img class="img-responsive" src="{{ portfolio.image.url }}" alt="{{ portfolio.title }}">
                    </div>
                    <div class="project_detail_btm">
                        <div class="center">
                            <h4><a href="{{portfolio.link}}" target="_blank">{{ portfolio.title }}</a></h4>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
